In [46]:
import pandas as pd
import numpy as np

In [47]:
df = pd.read_csv('master_sheet.csv')

In [48]:
pkm = input("Enter the Name of the pokemon to get the info")
pkm = str.upper(pkm)
data = []
print(pkm)
for index, row in df.iterrows():
    if row['Name'] == pkm:
        stat = row.values.tolist()
        data.append(stat)
print(data)

SCIZOR
[[16, '2014-11', '16', 'SCIZOR', '11.69332', '157182', 10.654, '126614', 10.82], [741, '2014-12', '17', 'SCIZOR', '10.75577', '377322', 10.861, '305802', 11.044], [1450, '2015-01', '9', 'SCIZOR', '15.05832', '302160', 11.69, '238170', 11.773], [2167, '2015-02', '8', 'SCIZOR', '17.15365', '124197', 12.03, '98334', 12.165], [2881, '2015-03', '6', 'SCIZOR', '18.39372', '318875', 13.551, '253695', 13.727], [3598, '2015-04', '7', 'SCIZOR', '15.81621', '176166', 13.689, '139660', 13.862], [4316, '2015-05', '9', 'SCIZOR', '15.92458', '144576', 13.997, '115438', 14.146], [5030, '2015-06', '7', 'SCIZOR', '16.28556', '467048', 14.637, '353067', 14.781], [5745, '2015-07', '5', 'SCIZOR', '17.62484', '565177', 14.783, '434961', 14.966], [6461, '2015-08', '3', 'SCIZOR', '18.22064', '662401', 15.544, '506307', 15.686], [7183, '2015-09', '7', 'SCIZOR', '16.69148', '573456', 14.349, '432602', 14.438], [7900, '2015-10', '6', 'SCIZOR', '17.65449', '599972', 14.022, '454513', 14.112], [8644, '2015-11', '32', 'SCIZOR', '6.79083', '215110', 7.414, '162089', 7.442], [9408, '2015-12', '39', 'SCIZOR', '5.73241', '205958', 7.09, '153269', 7.068], [10169, '2016-01', '43', 'SCIZOR', '4.67888', '286222', 6.807, '213595', 6.769], [10927, '2016-02', '44', 'SCIZOR', '4.17912', '282716', 6.85, '212013', 6.873], [11682, '2016-03', '42', 'SCIZOR', '4.38864', '286526', 6.627, '215230', 6.649], [12451, '2016-04', '54', 'SCIZOR', '3.18935', '198221', 6.794, '148175', 6.774], [13203, '2016-05', '48', 'SCIZOR', '3.84163', '280439', 6.628, '209283', 6.617], [13962, '2016-06', '50', 'SCIZOR', '3.76826', '284307', 6.498, '212280', 6.47], [14727, '2016-07', '58', 'SCIZOR', '2.71677', '317975', 5.99, '236740', 5.946], [15485, '2016-08', '59', 'SCIZOR', '2.14264', '379663', 5.579, '281528', 5.547], [16241, '2016-09', '56', 'SCIZOR', '2.53232', '337822', 5.4, '247669', 5.383], [16982, '2016-10', '40', 'SCIZOR', '5.00047', '324604', 5.741, '239556', 5.746], [17725, '2016-11', '26', 'SCIZOR', '7.21749', '235144', 5.961, '173002', 5.969], [18492, '2016-12', '35', 'SCIZOR', '5.51770', '64218', 5.341, '45604', 5.275], [19268, '2017-01', '55', 'SCIZOR', '3.13139', '41285', 5.124, '29725', 5.088], [20024, '2017-02', '57', 'SCIZOR', '2.73214', '21408', 5.3, '15723', 5.305], [20755, '2017-03', '44', 'SCIZOR', '3.73280', '18819', 5.721, '14211', 5.815], [21468, '2017-04', '20', 'SCIZOR', '9.62277', '15255', 5.701, '11595', 5.774], [22235, '2017-05', '63', 'SCIZOR', '2.53818', '14684', 6.159, '11053', 6.153], [22914, '2017-06', '34', 'SCIZOR', '6.39805', '8543', 6.113, '6475', 6.12], [23618, '2017-07', '65', 'SCIZOR', '2.13612', '93728', 2.235, '71209', 2.23], [24525, '2017-08', '91', 'SCIZOR', '0.69057', '100109', 2.247, '75786', 2.24], [25420, '2017-09', '101', 'SCIZOR', '0.57392', '42662', 2.374, '31832', 2.35], [26312, '2017-10', '110', 'SCIZOR', '0.42142', '90422', 2.296, '68218', 2.292], [27196, '2017-11', '111', 'SCIZOR', '0.42250', '85364', 2.031, '64261', 2.022], [28070, '2017-12', '85', 'SCIZOR', '1.08645', '85233', 2.008, '63638', 1.971], [28960, '2018-01', '74', 'SCIZOR', '1.37178', '84070', 2.059, '63376', 2.034], [29846, '2018-02', '62', 'SCIZOR', '2.03653', '77013', 2.141, '56994', 2.09], [30753, '2018-03', '70', 'SCIZOR', '1.72086', '86477', 2.24, '64753', 2.216], [31666, '2018-04', '84', 'SCIZOR', '1.01746', '84397', 2.336, '63051', 2.307], [32563, '2018-05', '82', 'SCIZOR', '1.17997', '86469', 2.298, '64203', 2.252], [33457, '2018-06', '77', 'SCIZOR', '1.13854', '81675', 2.203, '60546', 2.149], [34398, '2018-07', '120', 'SCIZOR', '0.24007', '81175', 1.971, '60252', 1.914], [35282, '2018-08', '104', 'SCIZOR', '0.43263', '82451', 1.981, '60450', 1.907], [36188, '2018-09', '110', 'SCIZOR', '0.45136', '74860', 1.941, '55128', 1.877], [37068, '2018-10', '90', 'SCIZOR', '0.87785', '75682', 1.986, '56075', 1.935], [37961, '2018-11', '83', 'SCIZOR', '1.07664', '73496', 1.961, '54477', 1.913], [38861, '2018-12', '83', 'SCIZOR', '1.15552', '71168', 1.99, '53100', 1.944], [39751, '2019-01', '73', 'SCIZOR', '1.26915', '71131', 1.935, '53147', 1.876], [40669, '2019-02', '91', 'SCIZOR', '0.75230', '62354', 1.932, '46730', 1.883], [41578, '2019-03', '101', 'SCIZOR', '0.63470', '78429', 1.958, '58838', 1.91], [42457, '2019-04', '81', 'SCIZOR', '1.19451', '90794', 2.165, '67786', 2.107], [43348, '2019-05', '73', 'SCIZOR', '1.40759', '89019', 1.982, '66370', 1.924], [44255, '2019-06', '81', 'SCIZOR', '1.05835', '86255', 1.796, '64888', 1.747], [45161, '2019-07', '88', 'SCIZOR', '0.80109', '79928', 1.79, '59995', 1.736], [46073, '2019-08', '101', 'SCIZOR', '0.43232', '73561', 1.814, '55424', 1.767], [46970, '2019-09', '99', 'SCIZOR', '0.60609', '69412', 1.797, '52435', 1.769], [47842, '2019-10', '72', 'SCIZOR', '1.58206', '75578', 1.885, '57200', 1.862], [51939, '2020-06', '54', 'SCIZOR', '2.43851', '180124', 4.659, '143585', 4.751], [52512, '2020-07', '40', 'SCIZOR', '3.30252', '266508', 7.437, '209031', 7.435], [53082, '2020-08', '24', 'SCIZOR', '8.08257', '294784', 8.87, '233176', 8.941], [53688, '2020-09', '43', 'SCIZOR', '3.54545', '214168', 8.413, '168193', 8.482], [54278, '2020-10', '47', 'SCIZOR', '4.30389', '190226', 5.202, '148604', 5.234], [54998, '2020-11', '57', 'SCIZOR', '1.94036', '119048', 2.552, '93093', 2.549], [55723, '2020-12', '73', 'SCIZOR', '1.04916', '86281', 2.255, '66847', 2.229], [56430, '2021-01', '74', 'SCIZOR', '1.03927', '97644', 2.706, '74921', 2.663], [57115, '2021-02', '54', 'SCIZOR', '2.38508', '84698', 2.852, '65524', 2.841], [57800, '2021-03', '35', 'SCIZOR', '5.36413', '122607', 3.765, '95906', 3.793], [58513, '2021-04', '47', 'SCIZOR', '3.79636', '107818', 3.856, '84401', 3.874], [59196, '2021-05', '28', 'SCIZOR', '8.62759', '128316', 4.768, '101422', 4.84], [59899, '2021-06', '30', 'SCIZOR', '5.70488', '135648', 5.074, '107785', 5.167], [60594, '2021-07', '26', 'SCIZOR', '7.96332', '235705', 7.562, '185466', 7.622], [61294, '2021-08', '25', 'SCIZOR', '7.89560', '233452', 7.746, '182911', 7.775], [62002, '2021-09', '32', 'SCIZOR', '5.77570', '211951', 7.222, '165627', 7.208], [62703, '2021-10', '33', 'SCIZOR', '6.09995', '225227', 7.306, '177592', 7.326], [63407, '2021-11', '36', 'SCIZOR', '5.42033', '180094', 6.979, '141431', 6.983], [64117, '2021-12', '45', 'SCIZOR', '3.87775', '162849', 7.809, '124412', 7.706], [64826, '2022-01', '53', 'SCIZOR', '2.66128', '155576', 7.592, '119869', 7.47], [65516, '2022-02', '45', 'SCIZOR', '3.35325', '147248', 6.742, '113207', 6.65], [66237, '2022-03', '66', 'SCIZOR', '1.49523', '179267', 6.333, '137875', 6.18], [66927, '2022-04', '56', 'SCIZOR', '2.20524', '129894', 4.689, '100533', 4.592], [67645, '2022-05', '75', 'SCIZOR', '1.17732', '110106', 3.849, '86019', 3.797], [68324, '2022-06', '55', 'SCIZOR', '2.43128', '103819', 3.539, '81845', 3.504], [69014, '2022-07', '45', 'SCIZOR', '3.21386', '109832', 3.566, '85357', 3.483], [69719, '2022-08', '50', 'SCIZOR', '2.67870', '114746', 3.387, '88520', 3.29], [70435, '2022-09', '66', 'SCIZOR', '1.54313', '114878', 3.56, '88000', 3.451], [71133, '2022-10', '64', 'SCIZOR', '1.68729', '111557', 3.544, '85236', 3.42], [71785, '2022-11', '16', 'SCIZOR', '11.25055', '343362', 6.782, '274551', 7.013], [72211, '2022-12', '25', 'SCIZOR', '6.42112', '537272', 7.935, '425817', 8.117], [72642, '2023-01', '39', 'SCIZOR', '3.98054', '375312', 8.575, '299293', 8.742], [73072, '2023-02', '47', 'SCIZOR', '2.22284', '212344', 7.241, '167846', 7.338], [73504, '2023-03', '56', 'SCIZOR', '1.45939', '126591', 4.187, '100799', 4.291], [73929, '2023-04', '56', 'SCIZOR', '1.17082', '91218', 3.818, '73071', 3.908], [74384, '2023-05', '79', 'SCIZOR', '0.91121', '84181', 3.282, '67414', 3.339], [74904, '2023-06', '90', 'SCIZOR', '0.59474', '87071', 2.177, '69899', 2.207], [75368, '2023-07', '44', 'SCIZOR', '3.05675', '105965', 3.963, '86310', 4.045], [75887, '2023-08', '57', 'SCIZOR', '1.58723', '98359', 3.934, '79773', 4.001], [76399, '2023-09', '62', 'SCIZOR', '1.94713', '134413', 3.515, '108977', 3.656], [77015, '2023-10', '53', 'SCIZOR', '2.42479', '111589', 3.265, '90428', 3.421], [77644, '2023-11', '60', 'SCIZOR', '1.47256', '93834', 3.503, '75856', 3.619], [78293, '2023-12', '87', 'SCIZOR', '1.06786', '104430', 2.804, '84955', 2.93], [79020, '2024-01', '53', 'SCIZOR', '2.85252', '127045', 3.377, '104156', 3.542], [79787, '2024-02', '56', 'SCIZOR', '2.63537', '101279', 3.59, '81395', 3.696]]

In [49]:
rank = [] 
name =[]
usage_perc =[]
raw =[]
raw_perc =[]
real =[]
real_perc=[]
period = []
for i in range (0,len(data)):
        rank.append(data[i][2])
        name.append(data[i][3])
        usage_perc.append(data[i][4])
        raw.append(data[i][5])
        raw_perc.append(data[i][6])
        real.append(data[i][7])
        real_perc.append(data[i][8])
        period.append(data[i][1])

In [50]:

df = pd.DataFrame({'Month':period,'Rank':rank,'Name':name,'Usage %':usage_perc,'Raw usage':raw,'Raw %':raw_perc,'Real usage':real,'Real %':real_perc})
df.to_csv("Tableau.csv")
df

       Month Rank    Name   Usage % Raw usage   Raw % Real usage  Real %
0    2014-11   16  SCIZOR  11.69332    157182  10.654     126614  10.820
1    2014-12   17  SCIZOR  10.75577    377322  10.861     305802  11.044
2    2015-01    9  SCIZOR  15.05832    302160  11.690     238170  11.773
3    2015-02    8  SCIZOR  17.15365    124197  12.030      98334  12.165
4    2015-03    6  SCIZOR  18.39372    318875  13.551     253695  13.727
..       ...  ...     ...       ...       ...     ...        ...     ...
100  2023-10   53  SCIZOR   2.42479    111589   3.265      90428   3.421
101  2023-11   60  SCIZOR   1.47256     93834   3.503      75856   3.619
102  2023-12   87  SCIZOR   1.06786    104430   2.804      84955   2.930
103  2024-01   53  SCIZOR   2.85252    127045   3.377     104156   3.542
104  2024-02   56  SCIZOR   2.63537    101279   3.590      81395   3.696

[105 rows x 8 columns]